h1 {
  font-size: 50px;
  text-align: center;
  color: white;
}
body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}
.cta {
  color: aquamarine;
  font-size: 16px;
}
h2 {
color: white;
font-weight: 300;
font-size: 42px;
}
p {
  font-size: 21px;
  color: gray;
}
